*{
    margin:0;
    padding:0;
}

body {
    font-family: 'Nunito', sans-serif;
  }
.container {
    height: 100vh;
}

.SideBar{
    width: 250px; 
    background: linear-gradient(to bottom, yellow, green); 
    padding: 20px;
    font-size: 20px;
    height: 100vh;
}

.SideBar h3 {
    text-align: center;
    margin-bottom: 30px;

}

.SideBar ul{
    list-style-type: none;
    padding: 0;
}

.SideBar li {
    margin-bottom: 30px;
}

.SideBar a {
    color: black;
    text-decoration: none;
}

.main {
    background-color: #f8f9fa; 
    display: flex;
}

.title {
    background-color: #1a2d84;
    color: white;
    text-align: center;
    padding: 20px;
}

.maininfo{
    width: 100%;
    padding:0 50px;
    
}


.formSearch{
    margin: 30px 0;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(240, 233, 233)
}

.text_field {
    width: 25%;
    padding: 8px; 
    border-radius:5px ;
}

.submit {
    padding: 8px; 
    background-color: black; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius:5px
}

.score {
    margin: 20px 0; 
    padding: 20px; 
    background-color: white; 
    border-radius: 10px;
    border: 2px solid rgb(240, 233, 233)

}
.result p {
    margin-bottom: 15px;
}

.top-group{
    margin: 20px 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

th {
    background-color: #04AA6D;
    color: white;
  }

th, td {
    padding: 15px;
}
tr:hover {background-color: coral;}

.chart {
    
    width: 100%;
    margin: 20px;
  }
  

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column; 
    }

    .SideBar {
        width: auto; 
        height: auto; /
    }

    .main {
        flex-direction: column; 
        width: 100%; 
    }

    .SideBar li {
        margin-bottom: 10px;
    }

    .SideBar {
        font-size: 16px; 
    }

    .top-group{
        width: auto;
    }

    .maininfo {
        padding: 0;
    }

    .text_field{
        width: 45%;
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }

    .chart {
        margin: 0;
    }


    .top-group{

    }
}

@media (max-width: 480px) {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column; 
    }
    .SideBar h3 {
        font-size: 20px; 
    }

    .SideBar {
        font-size: 14px;
    }
    .text_field{
        width: 45%;
    }
    .title {
        font-size: 18px;
        padding: 10px;
    }

    .maininfo {
        padding: 0;
    }
}